[Unit]
Description=Starts services required for web-facing TIO servers
Wants=firewalld.service
After=firewalld.service

[Service]
Type=oneshot
ExecStart=/srv/sbin/tiosysctl start tio-web http_server
ExecStart=/usr/bin/env systemctl start tio-trim-cache.timer
ExecStop=/usr/bin/env systemctl stop tio-trim-cache.timer
ExecStop=/srv/sbin/tiosysctl stop tio-web http_server
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
