[Unit]
Description=Starts services required for web-facing TIO servers
Wants=firewalld.service
After=firewalld.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env firewall-cmd --direct --remove-rules ipv4 filter OUTPUT
ExecStart=/usr/bin/env firewall-cmd --direct --remove-rules ipv6 filter OUTPUT
ExecStart=/srv/sbin/tiosysctl start tio-web http_server
ExecStart=/usr/bin/env systemctl start tio-trim-cache.timer
ExecStart=/usr/bin/env systemctl start tio-letsrenew.timer
ExecStop=/usr/bin/env systemctl stop tio-letsrenew.timer
ExecStop=/usr/bin/env systemctl stop tio-trim-cache.timer
ExecStop=/srv/sbin/tiosysctl stop tio-web http_server
ExecStop=/usr/bin/env firewall-cmd --reload
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
