[Unit]
Description=TIO API service
Requires=tioapi{}.socket

[Service]
Type=simple
StandardInput=socket
StandardOutput=socket
StandardError=journal
User=runner{}
Group=runner{}
Slice=tioapi{}.slice
LimitNPROC=128
KillMode=mixed
NoNewPrivileges=yes
CapabilityBoundingSet=
RuntimeDirectory=%n
RootDirectory=%t/%n
TemporaryFileSystem=/:mode=0700,size=1G,uid={uid}
TemporaryFileSystem=/var/log:mode=0700,size=1M,uid={uid}
BindReadOnlyPaths=/bin /etc /lib /lib64 /opt /srv /usr
MountAPIVFS=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
Environment=EXECCON=system_u:system_r:sandbox_t:s0:c{}
Environment=FSCREATECON=system_u:system_r:sandbox_file_t:s0:c{}
ExecStart=python3 -u /srv/lib/tioapi

[Install]
WantedBy=multi-user.target
