Header set Access-Control-Allow-Origin "*"

RewriteEngine On

RewriteCond %{HTTP_HOST} ^tryitonline\.[^.]*$
RewriteRule ^index.html$ cgi-bin/index [L]

RewriteCond %{HTTP_HOST} ^[^.]*\.tryitonline\.[^.]*$
RewriteRule ^index.html$ cgi-bin/frontend [L]
