*
{
	font-family: sans-serif;
	color: #202020;
}

a
{
	text-decoration: none;
}

a,
a:link,
a:visited
{
	color: #4060F0;
	cursor: pointer;
}

a:active,
a:hover
{
	color: #F02020;
}

body,
input,
textarea:disabled
{
	background: #F0F0F0;
}

div#wrapper
{
	height: 95vh;
	margin: auto;
	width: 95%;
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0.5em;
}

h2,
input
{
	font-size: 1.0em;
	font-weight: bolder;
	margin-top: 0.5em;
	margin-bottom: 0;
}

h3
{
	font-size: 1.0em;
	margin-top: 0.5em;
	margin-bottom: 0;
}

input
{
	background: #3E3F3A;
	color: #FFFFFF;
	font-weight: normal;
	padding: 0.25em;
	min-width: 10%;
}

input#run
{
	background: #325D88;
}

input.off
{
	background: #D9534F;
}

input.on
{
	background: #93C54B;
}

textarea
{
	font-family: monospace;
	height: 15%;
	width: 95%;
}

div.arg-container a
{
	margin-left: 0.5%;
}

div.arg-container a,
div#arg-placeholder
{
	font-size: 2.0em;
}
