*
{
	font-family: sans-serif;
	color: #D8D8D8;
}

a
{
	text-decoration: none;
}

a,
a:link,
a:visited
{
	color: #F0F0F0;
	cursor: pointer;
}

a:active,
a:hover
{
	color: #F02020;
}

body
{
	background: #484848;
}

div#index,
div#wrapper
{
	margin: auto;
	position: absolute;
	left: 0;
	top: 3.75em;
	width: 100%;
}

div#index
{
	padding: 0 2.5%;
	width: auto;
}

ul
{
	list-style-type: square;
}

li
{
	font-size: 1.5em;
	line-height: 2em;
}

nav
{
	background: #404040;
	left: 0;
	height: 3em;
	overflow: hidden;
	margin: 0;
	padding: 0 1.25%;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 2;
}

a#home
{
	background: inherit;
	font-size: 1.5em;
	line-height: 2em;	
}

a#lang
{
	background: inherit;
	font-size: 1.25em;
	line-height: 2.4em;
	margin-right: 2.5vw;
}

nav a,
nav a:link,
nav a:visited
{
	display: inline-block;
	background: #303030;
	color: #F0F0F0;
	line-height: 3em;
	padding: 0 1.25vw;
}

a.button
{
	min-width: 5vw;
	text-align: center;
}

a#run:hover,
a#run:active,
nav a:hover,
nav a:active
{
	background: #202020;
	color: #F0F0F0;
}

h2,
input
{
	font-size: 1.0em;
	font-weight: bolder;
}

h2
{
	margin-top: 0.5em;
	margin-bottom: 0;
}

textarea
{
	border: none;
	background: #202020;
	color: #F0F0F0;
	font-family: monospace;
	font-size: 1.1em;
	height: 15vh;
	outline: none;
	padding: 0.25em;
	width: 95vw;
}

textarea:disabled
{
	background: #303030;
}

div.section-body
{
	min-height: 2.5vh;
}

div#args textarea
{
	height: 5vh;
}

.icon
{
	display: inline-block;
	font-weight: normal;
	text-align: center;
	width: 2.5vw;
}	

.button,
.icon
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}