*
{
	font-family: sans-serif;
	color: #202020;
}

a
{
	text-decoration: none;
}

a:link,
a:visited
{
	color: #4060F0;
}

a:active,
a:hover
{
	color: #F02020;
}

body,
input,
textarea:disabled
{
	background: #F0F0F0;
}

{
	height:95vh;
	margin: auto;
	width: 95%;
}

div#wrapper
{
	height: 95vh;
	margin: auto;
	width: 95%;
}

h1
{
	font-size: 2.0em;
	margin-top: 0;
	margin-bottom: 0.5em;
}

h2,
input
{
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0;
}

input
{
	background: #80C0FF;
	padding: 0.25em;
	min-width: 10%;
}

input.off
{
	background: #FFA0A0;
}

input.on
{
	background: #80FF80;
}

textarea
{
	font-family: monospace;
	height: 20%;
	width: 100%;
}
